img {
  max-width: 350px;
}

.block-main {
  display: flex;
  flex-direction: row;
  flex-basis: 100px;
  justify-content: space-around;
  flex-wrap: wrap;
}
figure {
  text-align: center;
}
.block-main a {
  display: inline-block;
  padding: 12px;
  color: rgba(26, 51, 4, 0.698);
  text-decoration: none;
  letter-spacing: 0.05em;
  font-size: larger;
  font-family: 'Montserrat', sans-serif;
}
.block-main a:hover,
.block-main a:focus {
  color: rgba(108, 158, 84, 0.692);
}
/* .block-main img {
  flex-basis: 100px;
  justify-content: center;
  width: 30%;
} */
